.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.el-card {
  margin: 10px;
  padding: 10px;
}
.greyBack {
  flex: 1;
  background-color: rgba(240, 242, 245, 1);
  padding: 20px 40px 0 40px;
}
.cell .el-button + .el-button {
  margin-left: 0;
}
